---
---
    
@import "bootstrap";

/* Main Body of the static site */
body {
  padding-top: 70px;
  background-color: #ffffff; /* Set background color to white */
  color: #000000; /* Set text color to black */
}

h1, h2, h3 {
  color: #000000; /* Set text color to black */
}

.jumbotron {
  color: #ff0000 !important; /* Main text color for jumbotron */

  h1, h2, h3, h4, h5, h6 {
    color: #ff0000 !important; /* Set header color to red inside jumbotron */
  }

  p {
    color: #00ff00 !important; /* Set paragraph color to green inside jumbotron */
    font-weight: 200;
  }
}


/* Top navigation bar */
.navbar {
    /* background-color: #ffffff; /* Example background color */
    color: #ffffff !important; /* Example text color */
}

.navbar a {
    color: #ffffff !important; /* Ensures links within the navbar inherit the text color */
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff !important; /* Ensures text color for nav links */
}

.navbar-default .navbar-brand {
    color: #ffffff !important; /* Ensures text color for the brand/logo */
}


/* Fluxbox: Added for publication page columns. */
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
  //background-color: #ffffff; /* Set background color to white */
}

.flex-item1 {
  padding: 5px;
  width: 10%;
  //background-color: #ffffff; /* Set background color to white */
}

.flex-item2 {
  padding: 5px;
  width: 90%;
  //background-color: #ffffff; /* Set background color to white */
}

img { margin-bottom: 24px;
     margin-top: 17px;
    border-radius:2%;
}

figcaption {
    text-align: right;
    margin-top: -20px;
    margin-bottom: 20px;
}



/* Top navigation bar */


p.byline {
	text-align: center;
	font-size: 18px;
	line-height: 36px;
	margin-top: -24px;
	margin-bottom: 48px;
	//background-color: #ffffff; /* Set background color to white */
}


pubtit {
	font-weight: bold;
}

firstp {
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px; /* or 950px */
}

/* Home, News */
#newsid p {
	text-align: left;
	//background-color: #ffffff; /* Set background color to white */
}

#homeidtmp h1 {
	text-align: center;
	//background-color: #ffffff; /* Set background color to white */
}

#newsid img {
	margin-top: 6px;
	margin-bottom: 6px;
}

/* Team & Publications */
#gridid .img2 { margin: 16px 22px 6px 0; border-radius:10%; box-shadow: 2px 2px 5px rgba(0,0,0,0) }
#gridid img { margin: 16px 22px 6px 0; border-radius:10%; box-shadow: 2px 2px 5px #555555 }
#homeid img { margin: 0 0 0 0; border-radius:5%; box-shadow: 0px 0px 0px #555555 }
#picid img { margin: 6px 3px 60px 6px; border-radius:1%; box-shadow: 2px 2px 5px #555555 }
#gridid .row { margin-bottom: 24px; }
#gridid .rowl1 { margin-bottom: 24px; background-color: #dbdbdb; border-radius:10px; padding-left: 10px; padding-right: 10px;}
#gridid .rowl2 { margin-bottom: 24px; background-color: #dbdbdb; border-radius:10px; padding-left: 10px; padding-right: 10px;}

/* Grid overrides */
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	padding-left: 16px;
	padding-right: 16px;
	/*color: #ffffff;  Set font color to white */
	background-color: #ffffff !important; /*Set menu bar background to white */
}

/* Grid publications ("about" in "home" page) */
.col-sm-12 {
	color: #000000; /* Set font color to white */
	/*background-color: #ffffff; /* Set background color to white */
}

/* Grid overrides ("about" in "home" page) */
.col-sm-4 {
	padding-left: 26px;
	padding-right: 26px;
	color: #ffffff; /* Set font color to white */
}

/* Carousel */

.carousel {
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

/* Button */
button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  margin: 4px 2px;
}

button:hover {
  background-color: #45a049;
}
