<a class="skip-link" href="#main">Skip to content</a>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">{{ site.title | escape }}</a>
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#navbar-collapse-1"
        aria-expanded="false"
        aria-controls="navbar-collapse-1"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li{% if page.url == "/" %} class="active"{% endif %}>
          <a href="{{ site.url }}{{ site.baseurl }}/">Home</a>
        </li>

        {% for nav in site.nav_pages %}
          {% assign nav_url = "/" | append: nav.name | append: "/" %}
          {% if nav.children %}
            {% assign is_active = false %}
            {% for child in nav.children %}
              {% if page.url == child.url %}{% assign is_active = true %}{% endif %}
            {% endfor %}
            {% if page.url contains "/proj-pimat" %}{% assign is_active = true %}{% endif %}
            <li class="dropdown{% if is_active %} active{% endif %}">
              <a
                href="{{ site.url }}{{ site.baseurl }}{{ nav_url }}"
                class="dropdown-toggle"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
              >
                {{ nav.title | default: nav.name | capitalize }} <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                {% for child in nav.children %}
                  <li><a href="{{ site.url }}{{ site.baseurl }}{{ child.url }}">{{ child.title }}</a></li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li{% if page.url == nav_url %} class="active"{% endif %}>
              <a href="{{ site.url }}{{ site.baseurl }}{{ nav_url }}">
                {{ nav.title | default: nav.name | capitalize }}
              </a>
            </li>
          {% endif %}
        {% endfor %}

        <li class="nav-theme">
          <button
            type="button"
            class="theme-toggle"
            id="theme-toggle"
            aria-label="Switch between light and dark theme"
            title="Switch theme"
          >
            <i class="fa fa-moon-o theme-toggle__sun" aria-hidden="true"></i>
            <i class="fa fa-sun-o theme-toggle__moon" aria-hidden="true"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
